<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
  <import resource="spring-security.xml"/>

  <mvc:annotation-driven/>
  <aop:aspectj-autoproxy proxy-target-class="true"/>
  <context:component-scan base-package="com.cosisolutions.wms.website"/>
  <context:property-placeholder location="classpath:config.properties"/>

  <mvc:resources mapping="/js/**" location="/resources/js/"/>
  <mvc:resources mapping="/css/**" location="/resources/css/"/>
  <mvc:resources mapping="/fonts/**" location="/resources/fonts/"/>
  <mvc:resources mapping="/images/**" location="/resources/images/"/>

  <!-- Database configuration BEGIN -->
  <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
    <property name="driverClassName" value="${jdbc.driver}"/>
    <property name="username" value="${jdbc.username}"/>
    <property name="password" value="${jdbc.password}"/>
    <property name="url" value="${jdbc.url}"/>
  </bean>

  <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
    <property name="packagesToScan" value="com.cosisolutions.wms.website"/>
    <property name="dataSource" ref="dataSource"/>
    <property name="hibernateProperties">
      <props>
        <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
        <prop key="format_sql">true</prop>
        <prop key="show_sql">true</prop>
      </props>
    </property>
    <property name="mappingResources">
      <list>
        <value>hibernate/ItemEntity.hbm.xml</value>
        <value>hibernate/AssetEntity.hbm.xml</value>
        <value>hibernate/AccountEntity.hbm.xml</value>
        <value>hibernate/ItemGroupEntity.hbm.xml</value>
        <value>hibernate/ItemPictureEntity.hbm.xml</value>
      </list>
    </property>
  </bean>

  <bean id="hibernateTemplate" class="org.springframework.orm.hibernate5.HibernateTemplate">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>

  <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>

  <tx:advice id="transactionInterceptor" transaction-manager="transactionManager">
    <tx:attributes>
      <tx:method name="*" propagation="SUPPORTS" read-only="true"/>
      <tx:method name="insert*" propagation="REQUIRED"/>
      <tx:method name="update*" propagation="REQUIRED"/>
      <tx:method name="delete*" propagation="REQUIRED"/>
    </tx:attributes>
  </tx:advice>

  <aop:config>
    <aop:pointcut id="businessService" expression="execution(* com.cosisolutions.wms.website.repository.*Repository.*(..))"/>
    <aop:advisor advice-ref="transactionInterceptor" pointcut-ref="businessService"/>
  </aop:config>
  <!-- Database configuration END -->


  <!-- Thymeleaf configuration BEGIN -->
  <bean id="templateResolver" class="org.thymeleaf.spring4.templateresolver.SpringResourceTemplateResolver">
    <property name="prefix" value="/WEB-INF/spring/views/"/>
    <property name="templateMode" value="HTML" />
    <property name="cacheable" value="false"/>
    <property name="suffix" value=".html" />
  </bean>

  <bean id="templateEngine" class="org.thymeleaf.spring4.SpringTemplateEngine">
    <property name="templateResolver" ref="templateResolver"/>
    <property name="additionalDialects">
      <set>
        <bean class="org.thymeleaf.extras.springsecurity4.dialect.SpringSecurityDialect"/>
      </set>
    </property>
  </bean>

  <bean id="viewResolver" class="org.thymeleaf.spring4.view.ThymeleafViewResolver">
    <property name="templateEngine" ref="templateEngine"/>
    <property name="characterEncoding" value="UTF-8"/>
  </bean>
  <!-- Thymeleaf configuration END -->

</beans>