<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
<th:block th:include="fragments/header :: top-menu"/>

<div id="item-container">
    <div class="row-fluid">
        <div id="left-sidebar" class="span3">
            <div id="left-sidebar-control" class="text-center"><span class="glyphicon glyphicon-chevron-right vertical-middle"></span></div>
            <h5 class="text-center white-text">Item Groups</h5>
            <ul id="group-list" class="left-sidebar-tabs white-text text-center">
                <li th:each="group : ${groups}" th:id="'group-'+${group.id}">
                    <span class="glyphicon glyphicon-tag">
                        <a class="white-links" th:href="@{/items/searchGroup(groupId=${group.id},assetId=${model.id})}" th:text="' '+${group.name}+' '"></a>
                    </span>
                    <a class="slite-left" th:href="@{/items/editGroup(groupId=${group.id})}"  >
                        <span class="glyphicon glyphicon glyphicon-pencil white-text"></span>
                    </a>
                    <a class="slite-left" th:href="'javascript:removeGroup('+${group.id}+');'">
                        <span class="glyphicon glyphicon-remove white-text"></span>
                    </a>
                </li>
                <li><span class="glyphicon glyphicon-plus-sign"><a class="white-links" th:href="@{/items/addGroup(assetId=${model.id})}"> Add new</a></span></li>
            </ul>
        </div>

        <div id="item-gallery" class="span6">
            <div id="dashboard-control" class="row">
                <a id="add-item-button" class="white-links btn btn-default col-xs-2" th:href="@{/items/add(assetId=${model.id})}" type="button"><span id="add-item-link" class="glyphicon glyphicon-plus-sign pull-left"></span><div id="add-item-text">Add item</div></a>
                <div class="input-group stylish-input-group col-xs-9">
                    <input id="search" type="text" class="form-control" placeholder="Search" th:value="${#httpServletRequest.getParameter('search') != null}?${#httpServletRequest.getParameter('search')}">
                    <span class="input-group-addon">
                        <a id="search-href" th:href="'javascript:searchItems('+${model.id}+')'"><span class="glyphicon glyphicon-search"></span></a>
                    </span>
                </div>
            </div>
            <div id="thumbnail-container" class="row">
                <div th:id="'item-'+${item.id}" th:each="item : ${items}" class="col-sm-6 col-md-2">
                    <div id="item-thumbnail" class="thumbnail thumbnail-decor">
                        <img id="item-image" th:src="${item.picture.data}" alt="picture">
                        <div id="item-caption" class="caption">
                            <h3 class="white-text" th:text="${item.name}"></h3>
                            <p class="white-text" th:text="${item.description}"></p>
                            <p class="white-text" th:text="${item.count}"></p>
                            <p>
                                <span class="glyphicon glyphicon-pencil white-text"></span><a th:href="@{/items/edit(itemId=${item.id})}"> Edit</a>
                                <a th:href="'javascript:remove('+${item.id}+')'"> Delete</a><span class="glyphicon glyphicon-remove white-text slite-left"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="right-sidebar" class="span3">
            <div id="right-sidebar-control" class="text-center"><span class="glyphicon glyphicon-chevron-left vertical-middle"></span></div>
            <h5 class="text-center white-text">Asset info </h5>
            <div class="text-center white-links"><span class="glyphicon glyphicon-pencil"></span><a th:href="@{assets/edit(id=${model.id})}"> Edit</a></div><br>
            <h5 class="text-center white-text"><span class="glyphicon glyphicon-home"></span> Name:</h5><br>
            <div class="text-center grey-text" th:text="${model.name}"></div><br>
            <h5 class="text-center white-text"><span class="glyphicon glyphicon-pencil"></span> Code:</h5><br>
            <div class="text-center grey-text" th:text="${model.code}"></div><br>
            <h5 class="text-center white-text"><span class="glyphicon glyphicon-pencil"></span> Description:</h5><br>
            <div class="text-center grey-text" th:text="${model.description}"></div><br>
            <h5 class="text-center white-text"><span class="glyphicon glyphicon-map-marker"></span> Address:</h5><br>
            <div class="text-center grey-text" th:text="${model.address}"></div><br>
            <div class="text-center"><a th:href=@{/items/export(assetId=${model.id})} class="white-links btn btn-default" type="button"><span class="glyphicon glyphicon-export white-links"></span> Export all item data to Excel</a></div>
        </div>
    </div>
</div>

<th:block th:include="fragments/footer :: footer"/>
<th:block th:include="fragments/header :: scripts"/>

<script type="application/javascript" th:src="@{/js/custom/items.js}"></script>
</body>
</html>