<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
<th:block th:include="fragments/header :: top-menu"/>

<div id="main-acc-edit-container" class="container">
  <div id="edit-container" class="container text-center">
    <h5>Editing account for <b th:text="${model.email}"></b></h5>
    <hr/>
    <form id="account-edit" th:action="@{/accounts/edit}" th:object="${model}" method="POST">
      <input th:name="id" th:value="*{id}" type="hidden">
      <input th:name="email" th:value="*{email}" type="hidden">
      <div class="form-group has-feedback has-feedback-left" th:classappend="${#fields.hasErrors('firstName')}? 'has-error'">
        <input class="form-control" th:field="*{firstName}" name="firstName" type="text" placeholder="First name"/>
        <i class="glyphicon glyphicon-user form-control-feedback"></i>
        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" th:class="validation-error"></span>
      </div>
      <div class="form-group has-feedback has-feedback-left" th:classappend="${#fields.hasErrors('lastName')}? 'has-error'">
        <input class="form-control" th:field="*{lastName}" name="lastName" type="text" placeholder="Last name"/>
        <i class="glyphicon glyphicon-user form-control-feedback"></i>
        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" th:class="validation-error"></span>
      </div>
      <button class="btn btn-lg btn-default btn-block" type="submit">Save</button>
    </form>
  </div>
</div>

<th:block th:include="fragments/footer :: footer"/>
<th:block th:include="fragments/header :: scripts"/>
<script th:src="@{/js/custom/accountEditValidation.js}" type="application/javascript"></script>
</body>
</html>