<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
</head>
<body>
<th:block th:include="fragments/header :: top-menu"/>

<div id="main-signin-container" class="container-flex">
  <div id="signin-container" class="container text-center">
    <h2>Registration</h2>
    <hr/>
    <form id="register-form" class="form-signin" th:action="@{/accounts/registration}" th:object="${model}" method="POST">
      <div class="form-group has-feedback has-feedback-left" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
        <input class="form-control" th:field="*{email}" name="email" type="email" placeholder="Email address"/>
        <i class="glyphicon glyphicon-envelope form-control-feedback"></i>
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:class="validation-error"></span>
      </div>
      <div class="form-group has-feedback has-feedback-left" th:classappend="${#fields.hasErrors('firstName')}? 'has-error'">
        <input class="form-control" th:field="*{firstName}" name="firstName" type="text" placeholder="First name"/>
        <i class="glyphicon glyphicon-user form-control-feedback"></i>
        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" th:class="validation-error"></span>
      </div>
      <div class="form-group has-feedback has-feedback-left" th:classappend="${#fields.hasErrors('lastName')}? 'has-error'">
        <input class="form-control" th:field="*{lastName}" name="lastName" type="text" placeholder="Last name"/>
        <i class="glyphicon glyphicon-user form-control-feedback"></i>
        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" th:class="validation-error"></span>
      </div>
      <div class="form-group has-feedback has-feedback-left" th:classappend="${#fields.hasErrors('password')}? 'has-error'">
        <input id="registration-password" class="form-control" th:field="*{password}" name="password" type="password" placeholder="Password"/>
        <i class="glyphicon glyphicon-lock form-control-feedback"></i>
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:class="validation-error"></span>
      </div>
      <div class="form-group has-feedback has-feedback-left" th:classappend="${#fields.hasErrors('password')}? 'has-error'">
        <input class="form-control" th:field="*{passwordRepeat}" name="passwordRepeat" type="password" placeholder="Password"/>
        <i class="glyphicon glyphicon-lock form-control-feedback"></i>
      </div>
      <hr/>
      <button id="signin-button" class="btn btn-lg btn-default btn-block" type="submit">Register</button>
    </form>
  </div>
</div>
<th:block th:include="fragments/footer :: footer"/>
<th:block th:include="fragments/header :: scripts"/>
<script type="application/javascript" th:src="@{/js/custom/registrationValidation.js}"></script>
</body>
</html>