<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
</head>
<body>
<th:block th:include="fragments/header :: top-menu"/>

<div id="main-signin-container" class="container-flex">
    <div id="signin-container" class="container text-center">
        <h2>Registration</h2>
        <hr/>
        <form id="register-form" class="form-signin" th:action="@{/accounts/registration}" method="POST">
            <div class="form-group has-feedback has-feedback-left">
                <input name="email" id="registration-email" class="form-control" type="email" placeholder="Email Address"/>
                <i class="glyphicon glyphicon-envelope form-control-feedback"></i>
            </div>
            <div class="form-group has-feedback has-feedback-left">
                <input name="firstName" id="registration-user-first-name" class="form-control" type="text" placeholder="First Name"/>
                <i class="glyphicon glyphicon-user form-control-feedback"></i>
            </div>
            <div class="form-group has-feedback has-feedback-left">
                <input name="lastName" id="registration-user-last-name" class="form-control" type="text" placeholder="Last Name"/>
                <i class="glyphicon glyphicon-user form-control-feedback"></i>
            </div>
            <div class="form-group has-feedback has-feedback-left">
                <input name="password" id="registration-password" class="form-control" type="password" placeholder="Password"/>
                <i class="glyphicon glyphicon-lock form-control-feedback"></i>
            </div>
            <div class="form-group has-feedback has-feedback-left">
                <input name="passwordRepeat" id="registration-password-repeat" class="form-control" type="password" placeholder="Repeat Password"/>
                <i class="glyphicon glyphicon-lock form-control-feedback"></i>
            </div>
            <hr/>
            <button id="signin-button" class="btn btn-lg btn-default btn-block" type="submit">Register</button>
        </form>

    </div>
</div>
<th:block th:include="fragments/footer :: footer"/>
<th:block th:include="fragments/header :: scripts"/>
<script type="application/javascript" th:src="@{/js/custom/registrationValidation.js}"></script>
</body>
</html>