<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
</head>
<body>
<th:block th:include="fragments/header :: top-menu"/>
    <div id="content-wrapper" class="container-fluid">
        <div id="index-text-container">
            <h3>WMS - Resource  management from anywhere.</h3>
            <p>WMS - Is a warehouse management system used to control all your business inventory in one multi-platform supported environment.</p>
            <p>Build with availability and functionality in mind.</p>
            <p>This systems enables the user to manage any number of warehouses, or resource centers anywhere with a simple and elegant interface.</p>
            <p>Our system guaranties that you will be able to access your recourse management from most system anywhere in the world.</p>
            <p>Creating a unified and business friendly environment for all of your needs.</p>
            <h5>Let's build the next generation of inventory management together - WMS Developers</h5>
        </div>
    </div>
<th:block th:include="fragments/footer :: footer"/>
<th:block th:include="fragments/header :: scripts"/>
</body>
</html>