<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
<th:block th:include="fragments/header :: top-menu"/>

<div id="add-asset-container" class="container-flex">
    <div id="asset-add-container" class="container text-center">
        <h2 id="aset-add-heading" class="text-center">Asset edit</h2>
        <hr/>
        <form id="asset-add-form" th:action="@{/accounts/edit}" th:object="${model}" method="POST">
            <div class="form-group has-feedback has-feedback-left">
                <input id="asset-name" class="form-control input-element" name="name" type="text" placeholder="Asset name" required autofocus/>
                <i class="glyphicon glyphicon-home form-control-feedback"></i>
            </div>
            <div class="form-group has-feedback has-feedback-left">
                <input id="asset-code" class="form-control input-element" name="code" type="text" placeholder="Asset code (Max 6 characters)" required/>
                <i class="glyphicon glyphicon-pencil form-control-feedback"></i>
            </div>
            <div class="form-group has-feedback has-feedback-left">
                <textarea class="form-control" rows="5" id="asset-description" placeholder="Description"></textarea>
            </div>
            <div class="form-group has-feedback has-feedback-left">
                <input id="asset-adress" class="form-control input-element" name="adress" type="text" placeholder="Asset adress" required/>
                <i class="glyphicon glyphicon-map-marker form-control-feedback"></i>
            </div>
            <hr/>
            <button class="btn btn-lg btn-default btn-block" type="submit">Save</button>
        </form>
    </div>
</div>

<th:block th:include="fragments/footer :: footer"/>
<th:block th:include="fragments/header :: scripts"/>
</body>
</html>